<!DOCTYPE html>
<html>

<head>
	<title>Mini projet Equipe de personnes</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
		crossorigin="anonymous" />



	<style>
		.divListUser,
		.divUser {
			background-color: #ccc;
			padding: 20px;
			border-radius: 20px
		}

		.divListUser {
			margin-top: 20px;
			border-radius: 20px
		}

		.divTeam {
			background-color: #ccc;
			padding: 20px;
			border-radius: 20px
		}

		#tabListUser td {
			height: 45px;
			width: 120px;
		}
	</style>
</head>

<body>
	<div class="container mt-3" id="teambuilder">

		<div class="row">
			<div class="col-md-8">
				<div class="divTeam">
					<div class="row">
						<div class="col-4">
							<input class="form-control" id="team" placeholder="Nom de l'Equipe" v-model="nomEquipe">
						</div>
						<div class="col-8">
							<button class="btn btn-success" id="btnAddTeam" @click="ajouterEquipe()">
								<i class="fa fa-plus"></i>
							</button>
						</div>
					</div>
				</div>
				<div id="demo" v-for="(e, index) in tabEquipes">
					<table class="table table-striped">
						<tbody>
							<tr>
								<td colspan="3">
									<h3>
										{{ e.nom }}
										<button class="btn btn-primary">del</button>
									</h3>
								</td>
							</tr>

							<tr>
								<th>Prénom</th>
								<th>Nom</th>
								<th>Action</th>
							</tr>

							<tr>
								<td>John</td>
								<td>DOE</td>
								<td><button class="btn btn-primary">del</button></td>
							</tr>
							<tr>
								<td>Tom</td>
								<td>Cruise</td>
								<td><button class="btn btn-primary">del</button></td>
							</tr>
							<tr>
								<td>Nicolas</td>
								<td>CAGE</td>
								<td><button class="btn btn-primary">del</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-4">
				<div class="divUser">
					<div class="form-group">
						<input class="form-control" placeholder="Prénom" type="text" id="prenom" v-model="prenom" />
					</div>
					<div class="form-group">
						<input class="form-control" placeholder="Nom" type="text" id="nom" v-model="nom" />
					</div>
					<div class="form-group">
						<select class="form-control" id="MyUserTeam" v-model="equipeIndex">
							<option value="-1">Pas d'Equipe</option>
							<option v-for="(e, index) in tabEquipes" v-bind:value="index">{{ e.nom }}</option>
						</select>
					</div>
					<div class="form-group text-center mb-0">
						<button class="btn btn-success btn-lg" id="btnAddUser" @click="ajouterPersonne()">
							<i class="fa fa-plus"></i>
						</button>
					</div>

				</div>
				<div class="divListUser">
					<table id="tabListUser">
						<tr class="text-center" v-for="(p, index) in tabPersonnes">
							<td>{{ p.prenom }} {{ p.nom }}</td>
							<td>
								<button class="btn btn-danger" @click="supprimerPersonne(index)">
									<i class="fa fa-trash"></i>
								</button>
							</td>
						</tr>
					</table>
				</div>

			</div> <!-- col4 -->
		</div><!-- row -->

	</div><!-- container -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<!-- cdn axios -->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<script>
		const app = new Vue(
			{
				el: '#teambuilder',
				data:
				{
					equipeIndex: -1,
					tabPersonnes: [],
					tabEquipes: [],
					nomEquipe: '',
					nom: '',
					prenom: '',
				},
				methods:
				{
					ajouterPersonne() {
						let p = {}; // creation d objet
						p.prenom = this.prenom;
						p.nom = this.nom;
						this.prenom = '';
						this.nom = '';
				
						console.log(this.equipeIndex);
						console.log(this.tabEquipes[this.equipeIndex].id);

						let id = this.tabEquipes[this.equipeIndex].id

						// on ajoute ds le tableau
						let url = 'http://localhost/TP%20VueJS/TP4%20team/tp/back/public/personnes/ '+id;
						axios.post(url, {
							prenom: p.prenom,
							nom: p.nom
						})
							.then(response => {
								objId = response.data;
								console.log(objId);
								p.id = objId.id;
								this.tabPersonnes.push(p);
								console.log(this.tabPersonnes);
							});
					},
					supprimerPersonne(i) {
						let id = this.tabPersonnes[i].id;
						let url = 'http://localhost/TP%20VueJS/TP4%20team/tp/back/public/personnes/' + id;
						axios.delete(url)
							.then(response => {
								console.log(response.data);
								this.tabPersonnes.splice(i, 1);
							});
					},
					ajouterEquipe() {
						let e = {}; // creation d objet
						e.nom = this.nomEquipe;
						this.nomEquipe = '';
						
						// on ajoute ds le tableau
						let url = 'http://localhost/TP%20VueJS/TP4%20team/tp/back/public/equipes/';
						axios.post(url, {
							nom: e.nom
						})
							.then(response => {
								objId = response.data;
								console.log(objId);
								e.id = objId.id;
								this.tabEquipes.push(e);
								console.log(this.tabEquipes);
							});
					},
				},
				mounted() {
					let url = 'http://localhost/TP%20VueJS/TP4%20team/tp/back/public/personnes/';
					axios.get(url)
						.then(
							response => {
								this.tabPersonnes = response.data;
							});
					let url2 = 'http://localhost/TP%20VueJS/TP4%20team/tp/back/public/equipes/';
					axios.get(url2)
						.then(
							response => {
								this.tabEquipes = response.data;
							});
				}
			});
	</script>



</body>

</html>